*{font-family:Calibri,sans-serif;}
/* Empieza header */
.header{display:flex; width: 98vw; height: 20vh; background:#DFDFDF;}
.logo{display: flex; width: 20%; align-items: center; padding: 10px;}
#logo{max-width: 100%; width:100%;}
.header_redes{display: flex; width: 25%; align-items: center; padding: 0px auto;}
.header-sticky{background:#B90D09; top:0; position:sticky;}
.redes_nav{width:25%; padding-left: 50px;}
.lihov{font-size: 1.2em; font-weight: bold; border-right:2px solid #000;}
header nav{display: flex; align-items: center; font-size: 1.3em; width: 45%; z-index:1000; margin: 10px auto;}
header nav ul{list-style: none;}
header nav ul li{display:inline-block; position: relative;}
header nav ul li a{text-decoration: none;text-transform:capitalize;color:#000;display: block; padding: 0px 30px;}
header nav ul li:hover .children{display: block;}
header nav ul li .children{display: none; position: absolute; width: 150%; z-index:1000; text-align: left; padding-left: 0; margin-left: 0; font-size: 0.8em;}
.a-sticky{color:#DDDBDD;}
nav li:hover{background-color:#EEECEE; border-radius:3px;}
.lihov-sticky:hover{background-color:#990D09;}
nav li:hover ul{background:#DDDBDD;	border-radius:3px;}
nav li:hover .ulhov-sticky{background:#B90D09;border-radius:3px;border: none;}
.redes_nav a,.redes a{color: #1c0c54;}
/* Termina header */
/* Empieza footer */
footer{background:#B90D09; width:98vw;display: flex; flex-direction: column; color:#DFDFDF;justify-content: center;align-items: center; padding-top: 30px;}
.footer_container{display: flex; width:90%;}
.footer_content{display: flex; flex-direction: column;}
.footer_title{font-size: 1.3em;font-weight: bold; justify-content: center;}
.footer_redes{display: flex; padding-top: 20px; width:100%;}
.footer_content{width: 50%;}
.footer_form{width:50%; height: 100%; display: flex; align-items: center; justify-content: center;}
label, input, textarea{width:100%;}
.redes{width:20%; display: flex; align-items: center; justify-content: center;}
.contact_details{width: 100%; padding-top: 30px;}
footer a{text-decoration: none; color: #DDDBDD;}
.footer_final{width:90%;display: flex; align-items: center;justify-content: flex-start; padding-top: 20px;}
/* Termina footer */
/* empieza slider inicio */
.container-slider{width: 50%;	margin: auto; overflow: hidden;	box-shadow: 0 0 0 5px #FFF,
			0 15px 40px; margin-top: 30px;}
.slider{display: flex; width:400%; height: 80vh; margin-left: -100%;}
.slider__section{	width: 100%;}
.slider__img{	display: block;	height: 100%;	margin-left: auto; margin-right: auto; object-fit: cover;}
.slider__btn{	position: absolute;	width: 70px; height: 70px; background: rgba(255, 255, 255, 0.7); top: 65%; transform: translateY(-50%);	font-size: 50px; font-weight: bold;
	font-family: Calibri;	text-align: center;	border-radius: 50%;	cursor: pointer;}
.slider__btn:hover{	background: #FFF;}
.slider__btn--left{	left: 20px;}
.slider__btn--right{right: 20px;}
/*Termina slider inicio */
/*  */
#inicio{background-image:url('../images/diseno.jpg');	background-size:cover;}
#servicios{background-image:url('../images/Filosofia.png');	background-size:cover;}
#Aviso-privacidad{background: #DFDFDF;}
/*  */
.bloques{	padding: 0% 20%;}
.aviso{	text-align: justify;word-wrap: break-word;}
section{
	padding: 0% 10%;
	text-align:center;
}

#b1 h2{
	font-size:180%;
	text-align:center;
	color:#B90D09;
	background: #DDDBDD;
	width: 30%;
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
}

#b2 h2{
	font-size:180%;
	text-align:center;
	color: #DDDBDD;
	margin-left: auto;
	margin-right: auto;
}

#b1 p{
	text-align:center;
	background:#DDDBDD;
	padding:2%;
	border-radius:8px;
}

#b1 p:hover{
	background: #B90D09;
	color:#DDDBDD;
	/* width:100.4%; */
	opacity: 0.9;
	transition: all 1s;
}

#b2 p{
	text-align:justify;
	color: #DDDBDD;
}

#b2 .bloques{
	background: #B90D09;
	padding: 0.5% 5% 5%;
	border-radius: 8px;
	transition: all 1s ease-out;
}

#b2 .bloques:hover{
	background: #1c0c54;
}

.images-container{
	/* border: 2px solid green; */
	display: inline-block;
	width:45%;
	/* margin-top: 3%;
	margin-left: auto;
	margin-right: auto; */
	margin:auto;
}

.imagenes{
	width: 100%;
	box-shadow: 0px 0px 0px 5px #FFF,
		0 15px 40px;
}

.juntos{
	display: flex;
}

.juntos-texto{
	/* border: 2px solid green; */
	display:inline-block;
	width:45%;
	margin-left: auto;
	margin-right: auto;
}

/* Aquí empieza lo de los valores */
section span{
	padding:0% 3%;
}

span{
	display:inline-block;
	text-align: center;
	color:#B90D09;
	/* width:200px; */
	width:20%;
}

span p{
	color: #000;
}

.priv li{
	font-weight: normal ;
	list-style: disc;
}
/* Aquí terminan los valores */
/* separador */
.separador{
	width: 5vw;
}
/* Termina separador */

.generalcontainer{width: 98vw; display: flex; border: 2px solid green;}
.g_container_slider_img_services,.container_text{border: 2px solid blue; width: 50%; overflow: hidden;}
.text_container,.container_slider_img_services{display: flex; width: 510%;}

.img_services{display: block;	margin-left: auto; margin-right: auto; object-fit: cover; max-width: 100%;}
